

<p class="text-muted mb-5" style="display:flex;align-items:center;justify-content:center">Síganos en las redes sociales </p>

<div style="display:flex;align-items:center;justify-content:center;border-radius:15px; ">
    &nbsp;   &nbsp;   &nbsp;   &nbsp; <a title="facebook" href="https://www.facebook.com/GatitosalRescateCR/" target="_blank"><img class="social" src="~/Content/assets/img/face.png" alt="facebook" style="display:flex;align-items:center;justify-content:center;border-radius:15px;opacity:0.8"> </a>
    &nbsp;   &nbsp;   &nbsp;   &nbsp; <a title="instagram" href="https://www.instagram.com/gatitosalrescate_14/" target="_blank"><img class="social" src="~/Content/assets/img/insta.png" alt="instagram" style="display:flex;align-items:center;justify-content:center;border-radius:15px;opacity:0.8"> </a>
    &nbsp;   &nbsp;   &nbsp;   &nbsp; <a title="twitter" href="https://twitter.com/AlGatitos" target="_blank"><img class="social" src="~/Content/assets/img/twitter.png" alt="twitter" style="display:flex;align-items:center;justify-content:center;border-radius:15px;opacity:0.8"></a>
    &nbsp;   &nbsp;   &nbsp;   &nbsp; <a title="whatsapp" href="https://api.whatsapp.com/send?phone=50683524927" target="_blank"><img class="social" src="~/Content/assets/img/WhatsApp.png" alt="whatsapp" style="display:flex;align-items:center;justify-content:center;border-radius:15px;opacity:0.8"></a>

</div><br /><br />

<!-- Footer-->
<footer class="bg-light py-5">
    <div class="container"><div class="small text-center text-muted">Derechos Reservados © 2020 - Gatitos al Rescate</div></div>
</footer>
