<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <!--<add name="BDContext" connectionString="metadata=res://*/Entities.PawLog_Model.csdl|res://*/Entities.PawLog_Model.ssdl|res://*/Entities.PawLog_Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=database-guillermo.cumbijmyragq.us-east-2.rds.amazonaws.com;initial catalog=PAW_LOG_DB;persist security info=True;user id=admin;password=gatitos_7;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="BDContext" connectionString="metadata=res://*/Entities.PawLog_Model.csdl|res://*/Entities.PawLog_Model.ssdl|res://*/Entities.PawLog_Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=database-guillermo.cumbijmyragq.us-east-2.rds.amazonaws.com;initial catalog=PAW_LOG_DB;user id=admin;password=gatitos_7;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>