@model BackEnd.Entities.Users

@{
    ViewBag.Title = "Registrar";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}




<header class="masthead">

    <form name="myForm" method="post" action="@Url.Action("Registrar", "Login")">

        <div style="margin-top: 12%; margin-left: 10%; margin-right: 10%">
            <div id="login-div">


                <table>
                    <tr>
                        <td></td>
                        <td style="color:#f4623a; font-size:medium">Ingrese los datos</td>

                    </tr>
                    <tr>
                    <tr>
                    <tr><td></td></tr>
                    <tr><td></td></tr>
                    <tr><td></td></tr>
                    <tr>
                    <tr>
                    <tr>
                    <tr>
                    <tr><td></td></tr>
                    <tr><td></td></tr>
                    <tr><td></td></tr>
                    <tr>
                    <tr>

                        <td>
                            <label style="color:#f4623a; font-size:medium">Usuario&nbsp;</label>&nbsp;&nbsp;
                        </td>
                        <td width="200">

                            <input type="text" name="username" id="username" placeholder="*Ingrese un usuario*" style="font-size:small" class="form-control" required/>

                        </td>
                    </tr>


                    <tr>
                    <tr>
                    <tr><td></td></tr>
                    <tr><td></td></tr>
                    <tr><td></td></tr>
                    <tr>
                    <tr>
                    <tr>
                    <tr>
                    <tr><td></td></tr>
                    <tr><td></td></tr>
                    <tr><td></td></tr>
                    <tr>
                    <tr>


                    <tr>


                        <td>
                            <label style="color:#f4623a; font-size:medium">Contraseña&nbsp;</label>&nbsp;&nbsp;
                        </td>

                        <td width="200">

                            <input type="password" class="form-control" id="password" name="password" placeholder="*Ingrese un contraseña*" style="font-size:small" required/>

                        </td>
                    </tr>

                    <tr>
                    <tr>
                    <tr><td></td></tr>
                    <tr><td></td></tr>
                    <tr><td></td></tr>
                    <tr>
                    <tr>
                    <tr>
                    <tr>
                    <tr><td></td></tr>
                    <tr><td></td></tr>
                    <tr><td></td></tr>
                    <tr>
                    <tr>

                    <tr>

                        <td>
                            <label style="color:#f4623a; font-size:medium">Nombre&nbsp;</label>&nbsp;&nbsp;
                        </td>

                        <td>
                            <input type="text" id="name"  name="name" placeholder="*Ingrese un nombre*" style="font-size:small" class="form-control" required/>
                        </td>
                    </tr>

                    <tr>

                    <tr>
                    <tr>
                    <tr><td></td></tr>
                    <tr><td></td></tr>
                    <tr><td></td></tr>
                    <tr>
                    <tr>
                    <tr>
                    <tr>
                    <tr><td></td></tr>
                    <tr><td></td></tr>
                    <tr><td></td></tr>
                    <tr>
                    <tr>
                        <td></td>
                        <td>
                            <input type="submit"  value="Registrar" class="btn btn-primary" onclick="Button1()" />
                            <input type="reset"  value="Borrar" class="btn btn-outline-secondary" style="color:#dee2e6" />
                        </td>


                    </tr>

                    <tr>
                    <tr>
                    <tr><td></td></tr>
                    <tr><td></td></tr>
                    <tr><td></td></tr>
                    <tr>
                    <tr>
                    <tr>
                    <tr>
                    <tr><td></td></tr>
                    <tr><td></td></tr>
                    <tr><td></td></tr>
                    <tr>
                    <tr>

                    <tr>

                        <td style="color:#f4623a" colspan="3">
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; @Html.ActionLink("Regresar", "Index")
                        </td>

                    </tr>
                </table>



            </div>

            @*<script src="~/Scripts/jquery-1.10.2.min.js"></script>
                <script src="~/Scripts/jquery.validate.min.js"></script>
                <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>*@
        </div>
    </form>
</header>

@* SCRIPT DE SWEETALERT PARA ELIMINAR UN REGISTRO MEDIANTE VENTANA MODAL *@
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>




<script>
    function Button1() {
        event.preventDefault(); // prevent form submit
        var username = document.myForm.username.value;
        var password = document.myForm.password.value;
        var name = document.myForm.name.value;
        var form = document.forms["myForm"]; // storing the form

        if ((username == "" || username == null) || (name == "" || name == null) || (password == "" || password == null)) {

            swal({
                title: "El formulario tiene campos vacíos!",
                text: "Por favor complete la información!",
                icon: "warning",
            });

        } else {

        swal({
            title: "Desea confirmar su registro?",
            text: "Confirmación de registro de usuario",
            showCancelButton: true,
            icon: "info",
            buttons: true,
            dangerMode: true,
        })
            .then((willDelete) => {
                if (willDelete) {
                    form.submit();
                    swal("Registro exitoso", "Un administrador le asignara un rol para ingresar", "success");
                } else {
                    swal("Cancelado", "El registro se ha cancelado", "error");
                }
            });
        }
    }
</script>



<br />
<br />
<br />
<br />
<br />