@{
    ViewBag.Title = "History";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<br />



<div class="container" style="margin-top: 12%; margin-left: 20%; margin-right: 20%"><br />

    <h2 style="text-align:center">@ViewBag.Message</h2><br /><br />

    <p align="justify">

        Gatitos al Rescate nación el 6 de Junio del 2013 con la idea de ser hotel de paso y reubicación de gatitos de la calle. Ubicados en Villa Elia Rio Segundo de Alajuela Costa Rica. Gatitos al Rescate es una organización sin fines de lucro la cual manejamos por medio de donaciones y nuestros propios medios.
        <br>

    </p>

              <div style="text-align:center" >

                  <img class="img-fluid" src="@Url.Content("~/Content/assets/img/portfolio/fullsize/gatitos_Rescate1.png")" alt="" style="height:280px; width:280px" /><br /><br />
             
              </div>

    <p align="justify">

        Nuestra prioridad es darle hogar aquellos animales de corta edad que fueron separados de su mama y terminar de criarlos para luego buscarles un hogar donde los amen y los cuiden.
        Nuestra meta principal poder castrar a la mayoria de estos animales manteniendo un control adecuado y responsable de su poblacion. <br>

    </p><br /><br />

              <div style="text-align:center">

                  <img class="img-fluid" src="@Url.Content("~/Content/assets/img/portfolio/fullsize/gatitos_Rescate2.png")" alt="" style="height:280px; width:280px" /><br /><br />
              </div>
</div>

        <div class="container" style="margin-left: 20%; margin-right: 20%">
            <h3>Donaciones</h3>
            <br>

            <p align="justify">

                Trabajamos por medio de donaciones aca esta nuestro numero de cuenta por si desea ayudarnos, no olviden que tenemos muchos peluditos en casa cuna que necesitan de una manita. <br><br>

                <a style="font-weight:bold"> Banco de Costa Rica 001-1415407-2 SINPE 15202001141540725 </a>  <br>

            </p>


        </div>

