@using ReportViewerForMvc
@{
    ViewBag.Title = "ReportesAdopciones";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <div style="margin-top: 12%; margin-left: 8%; margin-right: 8%">
        @Html.ReportViewer(
            ViewBag.ReportViewer as Microsoft.Reporting.WebForms.ReportViewer,
            new { scrolling = "no" })
    </div>

